<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tickstep.links</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>04A43612-C90B-4CDF-B0E4-165DC6E806F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7145896-21CA-4681-94EA-D5492B186DCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33FF7703-B3C7-40D8-9974-2542B8AF3F7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3965B3F3-EC43-4986-BA23-B84981DB1000</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3965B3F3-EC43-4986-BA23-B84981DB1000</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91342114-0B7A-40CA-92BC-C887D806DEAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D0DBCFF-B790-4B90-BA49-5A4D69BE43C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33FF7703-B3C7-40D8-9974-2542B8AF3F7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91342114-0B7A-40CA-92BC-C887D806DEAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04A43612-C90B-4CDF-B0E4-165DC6E806F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>tickstep studio team</string>
	<key>description</key>
	<string>获取软件的下载链接</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>链刻</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export LC_CTYPE="$(defaults read -g AppleLocale).UTF-8"
/usr/bin/env python -O notification-filter.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>91342114-0B7A-40CA-92BC-C887D806DEAE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>链刻/Links</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E7145896-21CA-4681-94EA-D5492B186DCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^(?!(&lt;\?xml))</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>04A43612-C90B-4CDF-B0E4-165DC6E806F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4D0DBCFF-B790-4B90-BA49-5A4D69BE43C8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export LC_CTYPE="$(defaults read -g AppleLocale).UTF-8"
/usr/bin/env python -O alfred-links-workflow.py "{query}" --commit</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3965B3F3-EC43-4986-BA23-B84981DB1000</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>lk</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>正在加载中...</string>
				<key>script</key>
				<string>export LC_CTYPE="$(defaults read -g AppleLocale).UTF-8"
echo "{query}" &gt; .query
/usr/bin/env python -O alfred-links-workflow.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>获取软件的下载链接</string>
				<key>title</key>
				<string>链接一下，立刻下载</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>33FF7703-B3C7-40D8-9974-2542B8AF3F7F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>链刻/Links服务官方Alfred workflow扩展。
请访问我们的官方网站了解更多信息：http://links.tickstep.com</string>
	<key>uidata</key>
	<dict>
		<key>04A43612-C90B-4CDF-B0E4-165DC6E806F3</key>
		<dict>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>33FF7703-B3C7-40D8-9974-2542B8AF3F7F</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>3965B3F3-EC43-4986-BA23-B84981DB1000</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>4D0DBCFF-B790-4B90-BA49-5A4D69BE43C8</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>91342114-0B7A-40CA-92BC-C887D806DEAE</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>E7145896-21CA-4681-94EA-D5492B186DCD</key>
		<dict>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.1.1</string>
	<key>webaddress</key>
	<string>http://links.tickstep.com</string>
</dict>
</plist>
